.meeting-info{
    background-color: white;
    width: 400px;
    height: 320px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 10px;
    align-items: center;
    .meetings{
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-block{
            font-size: 20px;
            font-weight: 400;
            margin-right: 25px;
        }


    }
    .others{
        width: 120px;
        margin-left: 25px;
        display: flex;
        align-items: center;
    
        height: 35px;
        background-color: rgba(2, 95, 2, 0.964);
        color: white;
        border-radius: 5px;
        border-color: black;
        .icons{
            margin-right: 15px;
            margin-left: 10px;
        }



    }
    .link{
        .links{
            margin-left: 25px;
            margin-right: 70px;
            align-items: center;
            justify-content: space-between;
    
        }
        .url{
            margin-left: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f1f3f5;
           width: 350px;
           height: 40px;
            flex: 1;
            border-radius: 5px;
            
            .icon-blocks{
                margin-right: 50px;
                cursor: pointer;
                color: #555;
            }
            

    
        }
       
    

    }
    .join{
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            margin-left: 20px;
            margin-right: 20px;
            font-size: 14px;
            font-weight: 200;
            
          
    
            
        }
        .icon{
            color: rgb(26, 103, 103);
        }


    }
    .text{
        margin-left: 25px; 
        font-size: 15px;
        font-weight: 400;

    }
    
    
}